<section class="form__section">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
    <div class="login-header text-center mb-4">
      <img src="https://i.ibb.co/vKy45sJ/logo.png" alt="Logo">
    </div>

    <!-- Username -->
    <div class="form__input-wrapper">
      <input
        class="form__input"
        placeholder="Username or Email"
        type="text"
        formControlName="username"
      />
      <div class="form__input-icon">
        <i class="bi bi-person"></i>
      </div>
    </div>

    <!-- Password -->
    <div class="form__input-wrapper">
      <input
        id="password-input"
        class="form__input form__input--has-svg"
        placeholder="Password"
        [type]="showPassword ? 'text' : 'password'"
        formControlName="password"
      />
      <div class="form__pass-toggle" (click)="togglePassword()" style="cursor:pointer;">
        <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
      </div>
    </div>

    <a routerLink="/forgot-password" class="form__forget d-block text-end mt-2">Forgot Password?</a>

    <button type="submit" class="custom-btn btn-7 mt-4 w-100" [disabled]="loading">
      <span *ngIf="!loading">Login</span>
      <span *ngIf="loading">Loading...</span>
    </button>
  </form>
</section>
