<div class="admin-dashboard">
  <!-- SIDEBAR -->
  <app-sidemenu [menuFromParent]="'services'"></app-sidemenu>
  <!-- SIDEBAR -->

  <!-- CONTENT -->
  <section id="content">

    <!-- NAVBAR -->
    <nav></nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>

      <!-- Create / Edit Form -->
      <div class="container" *ngIf="showForm">
        <div class="row">
          <div class="col-sm-5">

            <div class="create-header">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h3 class="m-0">{{ selectedService ? 'Edit Service' : 'Create Service' }}</h3>

                <button type="button" class="admin-btn btn-soft-danger" (click)="toggleForm()">
                  Back
                </button>
              </div>

              <form class="form-horizontal" (ngSubmit)="saveService()">

                <!-- Image -->
                <div class="form-group">
                  <label>Service Image</label>
                  <input type="file" accept="image/*" class="form-control" (change)="onImageChange($event)" />
                </div>

                <div class="form-group">
                  <label>Service Name</label>
                  <input type="text" class="form-control" placeholder="Service Name"
                    [(ngModel)]="newService.name" name="servicename" required />
                </div>

                <div class="form-group">
                  <label>Description</label>
                  <input type="text" class="form-control" placeholder="Description"
                    [(ngModel)]="newService.description" name="description" />
                </div>

                <div class="form-group form-check form-switch mt-3 d-flex align-items-center gap-3">
                  <label class="form-check-label mb-1 me-3">Active / Inactive</label>
                  
                  <input type="checkbox" class="form-check-input" role="switch"
                    [checked]="newService.status == 'active'" (change)="onToggleChange($event)" />
                </div>

                <button type="button" class="custom-btn btn-7 mt-2 me-2" (click)="toggleForm()">
                  <span>Cancel</span>
                </button>

                <button type="submit" class="custom-btn btn-7 mt-2">
                  <span>Save</span>
                </button>

              </form>
            </div>

          </div>
        </div>
      </div>

      <!-- SERVICES TABLE -->
      <div class="table-data" *ngIf="!showForm">

        <div class="order">
          <div class="head">
            <h3>Services List</h3>
            <div>
              <a class="admin-btn btn-7 text-decoration-none" (click)="toggleForm()">Add</a>
            </div>
            <form>
              <div class="form-input">
                <input type="search" placeholder="Search..." />
                <button type="submit" class="search-btn">
                  <i class="bx bx-search"></i>
                </button>
              </div>
            </form>
          </div>

          <div class="overflow-auto pr-1 relative h-[calc(100dvh_-_375px)]">
            <table>
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Service Name</th>
                  <th>Description</th>
                  <th>Active</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>

                <!-- IF services available -->
                <tr *ngFor="let service of services">
                  <td>
                    <img [src]="service.image_data || 'https://via.placeholder.com/50'" width="50" height="50" />
                  </td>

                  <td>{{ service.name }}</td>

                  <td [title]="service.description">
                    {{ service.description?.length > 30 ? (service.description | slice:0:20) + '...' : service.description }}
                  </td>

                   <td>
                      <span class="status" [ngClass]="{'completed': service.status == 'active','pending': service.status !== 'active'}">
                        {{ service.status }}
                      </span>
                    </td>

                  <td>
                    <div class="inline-flex gap-2">
                      <a class="admin-btn btn-soft-primary" (click)="toggleForm(service)">Edit</a>
                      <a class="admin-btn btn-soft-danger" (click)="deleteService(service.id)">Delete</a>
                    </div>
                  </td>
                </tr>

                <!-- IF NO services -->
                <tr *ngIf="services.length === 0">
                  <td colspan="5" class="text-center py-5">
                    <h3>No Services Found</h3>
                    <button class="admin-btn btn-7 mt-3" (click)="toggleForm()">Add Service</button>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

        </div>

      </div>

    </main>
  </section>
</div>
